<h2>Add a new video</h2>

<form action="/videos" method="post">
  <input type="text" name="title" placeholder="Enter title">
  <input type="text" name="description" placeholder="Description...">
  <input type="text" name="url" placeholder="Video URL">
  <input type="text" name="genre" placeholder="Genre">
  <input type="submit">
</form>