
<h1>Videos</h1>

<ul>
  <% @library.each do |video| %>
    <div class="video-page">
      <iframe src="<%= video['url'] %>" class="video-page-vid"></iframe>
      <div>
        <a href="/videos/<%= video ['id'] %>"><%= video['title'] %></a>
      </div>
    </div>
  <% end %>
</ul> 

